
@{
    ViewData["Title"] = "Usuarios";
}

<ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Empleados</li>
</ol>



